.home_item {
  position: relative;
}
.userlogohome {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: -6px;
}
.home_header {
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #19202c;
  padding-left: 70px;
  z-index: 20;
}
.larrow {
  width: 28px;
  height: 28px;
}

.rarrow {
  width: 28px;
  height: 28px;
}
.btn-l {
  position: absolute;
  right: 188px;
  top: 4px;
  background: inherit;
  border: none;
  cursor: pointer;
}
.btn-r {
  position: absolute;
  top: 4px;
  right: 149px;
  background: inherit;
  border: none;
  cursor: pointer;
}
.home_list {
  padding-top: 10px;
}
.home-section {
  margin-top: 93px;
  padding-top: 30px;
  padding-bottom: 100px;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}
.home-section::-webkit-scrollbar {
  width: 1px;
}
.home-section::-webkit-scrollbar-thumb {
  background: #fff;
}
.home_img {
  width: 250px;
  height: 150px;
  border-radius: 14px;
}
.home_li_ul {
  margin-top: 38px;
  display: flex;
  width: 100%;
  overflow: auto;
  li {
    margin-right: 40px;
  }
}
.home_li_ul::-webkit-scrollbar {
  width: 1px;
}
.home_li_ul::-webkit-scrollbar-thumb {
  background: #fff;
}

.rec-header {
  padding-left: 0;
}

.home_img-two {
  width: 540px;
  height: 250px;
  border-radius: 14px;
}
.home_divv {
  display: flex;
  p {
    padding-top: 9px;
    padding-left: 19px;
    color: #c2c2c2;
    font-size: 16px;
    line-height: 20px;
  }
}
.home_li_header {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #19202c;
}
.home_li_p {
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
  display: inline-block;
  padding-right: 24px;
  margin-bottom: 30px;
}
.home_li_pp {
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
  display: inline-block;
  padding-right: 12px;
  margin-bottom: 30px;
}
.pl {
  padding-right: 0px;
}
.pll {
  padding-right: 15px;
}
.home_p_li {
  padding-left: 255px;
  padding-right: 0;
}
.render-li {
  position: relative;
}

.home_btn {
  position: absolute;
  z-index: 20;
  border-radius: 20px;
  background: #ff0000;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  border: 1px solid #ff0000;
  padding: 10px 19px;
  width: 154px;
  margin-right: 68px;
  &:hover {
    background: #fff;
    color: #ff0000;
    transition: 0.5s;
  }
  right: 190px;
  top: -2px;
}
.wadov {
  position: absolute;
  width: 47px;
  height: 24px;
  top: 117px;
  right: 10px;
}
.render-span {
  position: absolute;
  font-size: 14px;
  line-height: 18px;
  top: 119px;
  right: 21px;
  color: #fff;
}
.render-span-big {
  position: absolute;
  font-size: 14px;
  line-height: 18px;
  top: 217px;
  right: 21px;
  color: #fff;
}
.wadov-big {
  position: absolute;
  width: 47px;
  height: 24px;
  top: 215px;
  right: 10px;
}
@media (max-width: 1210px) {
  .home_btn {
    display: none;
  }
}
@media (max-width: 900px) {
  .btn-r {
    right: 69px;
  }
  .btn-l {
    right: 108px;
  }
}
@media (max-width: 800px) {
  .home_li_pp {
    margin-bottom: 55px;
  }
  .home-section {
    margin-top: 75px;
    padding-top: 25px;
  }
}
@media (max-width: 670px) {
  .btn-r {
    display: none;
    img {
      display: none;
    }
  }
  .btn-l {
    display: none;
    img {
      display: none;
    }
  }
}
@media (max-width: 600px) {
  .home_divv {
    flex-direction: column;
    p {
      margin-top: 10px;
      padding-left: 0;
    }
    h3 {
      margin-top: 15px;
    }
    img {
      top: 6px;
    }
  }
  .ul_li {
    display: none;
  }
  .rec-header {
    display: none;
  }
  .home_li_pp {
    margin-bottom: 40px;
  }
  .pp {
    margin-bottom: 35px;
  }
  .home_img {
    width: 288px;
    height: 150px;
  }
}
@media (max-width: 405px) {
  .home_li_ul {
    flex-direction: column;
  }
  .container {
    padding-left: 20px;
  }
  .home_li_header {
    padding-top: 9px;
    width: 70%;
    .render-li {
      margin-right: 0;
    }
  }
  .rec {
    display: block;
    width: 80%;
  }
  .home_header {
    width: 90%;
  }

  .wadov {
    left: 230px;
  }
  .render-span {
    left: 242px;
    top: 119.5px;
  }
}
@media (max-width: 365px) {
  .home_li_header {
    width: 80%;
  }
}
