* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}
.div {
  max-width: 225px;
  width: 30%;
  height: 100vh;
  z-index: 35;
}
.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding-left: 30px;
  display: flex;
}

.nav-div {
  padding-top: 20px;
  margin-top: 94px;
  position: relative;
  max-width: 225px;
  width: 100%;
  padding-bottom: 40px;
  height: 89vh;
  overflow: auto;
}
.nav-div::-webkit-scrollbar {
  width: 1px;
}
.nav-div::-webkit-scrollbar-thumb {
  background: #fff;
}

.home-item {
  position: relative;
  margin-bottom: 28px;
}

.homelogo {
  width: 20px;
  height: 19px;
  position: absolute;
}
.ogonlogo {
  width: 16px;
  height: 20.5px;
  position: absolute;
}
.sublogo {
  width: 17.81px;
  height: 18px;
  position: absolute;
}

.nav_p {
  color: #898989;
  font-size: 16px;
  line-height: 20px;
  padding-left: 30px;
}
.red {
  color: #ff0000;
}

.nav_home-list {
  margin-bottom: 60px;
}

.lib-item {
  position: relative;
  margin-bottom: 28px;
}

.filelogo {
  position: absolute;
  width: 20px;
  height: 16px;
  top: 2px;
}
.historylogo {
  position: absolute;
  width: 20px;
  height: 18px;
  top: 2px;
}
.watchlogo {
  position: absolute;
  width: 16.76px;
  height: 18.86px;
  top: 2px;
}
.starlogo {
  position: absolute;
  width: 18.7px;
  height: 17.83px;
  top: 2px;
}
.likelogo {
  position: absolute;
  width: 18px;
  height: 16.86px;
  top: 2px;
}
.musiclogo {
  position: absolute;
  width: 18px;
  height: 20px;
  top: 3px;
}
.gamelogo {
  position: absolute;
  width: 22px;
  height: 16px;
  top: 3px;
}
.arrowlogo {
  position: absolute;
  width: 13.34px;
  height: 7.67px;
  top: 8px;
  left: 5px;
}
.nav_lib-list {
  margin-bottom: 55px;
}

.show {
  cursor: pointer;
}

//sub

.nav-header {
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
}

.sub-item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 5px;
}

.userlogo {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 1px;
  top: -2px;
}
.nav_sub-list {
  margin-bottom: 110px;
}

.settings-span {
  position: relative;

  img {
    position: absolute;
    width: 18.7px;
    height: 20px;
    left: 3px;
    top: 1px;
  }
}
@media (max-width: 800px) {
  .nav-div,
  .nav_home-list,
  .home-item {
    display: flex;
    z-index: 15;

    img {
      position: sticky;
    }
  }
  .nav_home-list {
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    margin-bottom: 0;
    li {
      text-align: center;
      margin-right: 20px;
      padding: 2px;
      margin-bottom: 0;
      width: 65px;
      justify-content: center;
      align-items: center;
    }
  }
  .nav_p {
    display: block;
    font-size: 10px;
    line-height: 13px;
    font-weight: normal;
    padding: 0;
    padding-top: 1px;
  }
  .nav_sub-list {
    display: none;
  }
  .nav-header {
    display: none;
  }
  .nav_lib-list {
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    margin-bottom: 0;
    li {
      text-align: center;
      margin-right: 20px;
      padding: 2px;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 65px;
    }
    .show {
      display: none;
    }
  }

  .nav-div {
    width: 800px;
    position: fixed;
    background: #fff;
    align-items: stretch;
    height: 67px;
    padding: 0;
    max-width: 100%;
    text-align: center;
    align-items: center;
    padding-top: 5px;
    border-top: 5px solid white;
    box-sizing: content-box;
  }
  .div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 100%;
    position: absolute;
  }
  .settings-span {
    margin-right: 20px;
    padding: 2px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    height: 37px;
    text-align: center;
    width: 65px;
  }
}
